package components

import "github.com/m1yon/jobsummoner"

templ Homepage(m jobsummoner.HomepageViewModel) {
	@layout() {
		for _, job := range m.Jobs {
			@jobCard(job)
		}
	}
}

templ jobCard(job jobsummoner.Job) {
	<h1>{ job.Position }</h1>
	<h1>{ job.CompanyID }</h1>
}
